*{
    margin: 0;
    padding: 0;
}
body{
    background-color: whitesmoke;
}

#clock{
    width: 400px;
    height: 400px;
    margin: 50px auto;
    background-image: url('./images/clock11.jpg');
    box-shadow: 0 15px 15px rgba(34, 24, 24, 0.5),
    0 -15px 15px rgba(34, 24, 24, 0.5),
    0 15px 15px rgba(34, 24, 24, 0.5),
    0 -15px 15px rgba(34, 24, 24, 0.5);
    border-radius: 20%;
    position: relative;
}

.dot{
    contain: '';
    width: 20px;
    height: 20px;
    background-color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}
.hour{
    width: 75px;
    height: 6px;
    background-color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: left;
    transform: translateY(-50%);
    /* transform: rotate(35deg);   */
}
.minute{
    width: 100px;
    height: 5px;
    background-color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform-origin: left;
    /* transform: rotate(-30deg);   */
}
.second{
    width: 95px;
    height: 4px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: left;
    transform: translateY(-50%);
    /* transform: rotate(-90deg);    */
}